* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ADB7C2;
}

header {
    background: #1F2833;
    height: 4vh;
}

.Sidebar {
    width: 20vw;
    height: 96vh;
    background: #7D8894;
    text-align: center;
}

.Links {
    display: flex;
    flex-direction: column;
    height: 11vh;
    justify-content: space-between;
    margin-top: 45px;
}

.Links a {
   padding: 10px;
   text-decoration: none;
   background-color: #C6CDD4;
}

.main {
    display: flex;
}

.focus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changepassword, .changemail {
    display : flex;
    height : 3vh;
}

.ui {
    margin-top : 250px;
    width : 100%;
}

.changepassword {
    margin-top : 70px;
}

 #b1, #b2 {
    margin-right : 20px;
    width : 130px;
}