@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

body {
    background: #ADB7C2;
}

header {
    background: #1F2833;
    height: 4vh;
}

.Sidebar {
    width: 20vw;
    height: 96vh;
    background: #7D8894;
    text-align: center;
}

.Links {
    display: flex;
    flex-direction: column;
    height: 11vh;
    justify-content: space-between;
    margin-top: 45px;
}

    .Links a {
        padding: 10px;
        text-decoration: none;
        background-color: #C6CDD4;
        color: #1F2833;
    }

.ViewAppointment {
    height: 40vh;
    width: 50vh;
    margin-left : 50px;
    margin-top : 50px;
}

.main {
    display:flex;
}

.focus {
    width : 100%;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.viewheading {
    margin-top : 70px;
}

.buttons {
    display : flex;
    flex-direction : column;
    margin-top : 20px;
    width : 100px;
}

.buttonsIN {
    margin-top : 35px;
}

#Delete, #Hide, #show {
    height : 30px;
}

#dash {
    margin-top : 20px;
    margin-bottom : 10px;
}

#Delete:hover, #Hide:hover, #show:hover {
    border : solid 2px black;
}

.ViewAppointment:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}