@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

.Uppers, .Table {
    width : 100%;
    height : 48%;
}


body {
    background: #ADB7C2;
}

header {
    background: #1F2833;
    height : 4vh;
    border-bottom : 2px solid white;
}

.Sidebar {
    width: 20vw;
    height: 96vh;
    background: #7D8894;
    text-align : center;
}

.Focus {
    display : flex;
}

.Main {
    display : flex;
    flex-direction : column;
    width : 100%;
    margin-left : 75px;
    margin-right : 75px;
}

.Links {
    display : flex;
    flex-direction : column;
    height : 11vh;
    justify-content : space-between;
    margin-top : 45px;
}

    .Links a {
        padding: 10px;
        text-decoration: none;
        background-color: #C6CDD4;
        color: #1F2833;
    }

        .Links a:hover {
            background-color: whitesmoke;
            border: 2px solid #1F2833;
            text-decoration: underline;
        }

#Confirm {
    height: 50px;
    width: 150px;
    margin-top: 30px;
    position: absolute;
    left: 19%;
    top: 45%;
    background: #1F2833;
    color : white;
}

.ViewAppointment {
    height: 80%;
    width: 40%;
    border: 2px solid black;
    font-size: 35px;
    font-weight: 700;
    background-color: whitesmoke;
    transition : 0.7s ease-in-out;
}

.ViewAppointment:hover {
    transform : scale(1.1, 1.1)
}

.Uppers {
    display : flex;
    margin-top : 50px;
    justify-content : space-between;
}


.News {
    height: 90%;
    width: 50%;
    border: 2px solid black;
}

.Table {
    height: 35%;
    background: #ADB7C2;
    margin-top : 50px;
}

table {
    width : 100%;
}

th {
    padding: 20px;
    background-color: #1F2833;
    color : white;
    font-weight : bold;
    font-size : 20px;
}

td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid grey;
    transition: transform 0.3s linear;
}

table {
    border-collapse: collapse;
    border-bottom: 3px solid #1F2833;
}

tr {
    background-color:whitesmoke;
}

    tr:hover {
        background-color: #86ACDB;
        cursor: pointer;
        color: mediumspringgreen;
        text-shadow: 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000;
    }

tr:hover td {
   transform: scale(1.3,1.3);
}

#dash {
    margin-top: 20px;
    margin-bottom: 10px;
}

#displaytime, #datedisplay {
    display: flex;
    width: 60%;
    text-align: center;
    padding-bottom : 10px;
    border-bottom : 1px solid black;

}

#timedate {
    height : 90%;
    display : flex;
    flex-direction : column;
    flex-flow :column-reverse;
    justify-content : space-evenly;
}

.heading {
    display: flex;
    background: #1F2833;
    padding-bottom : 10px;
}

#Confirm:hover {
    border: solid 2px #1F2833;
    transform: scale(1.1, 1.1);
    cursor: pointer;
    background: #ADB7C2;
}

.text {
    color: #1F2833;
}

#headID,#ticketID {
    color : whitesmoke;
}

#viewDate, #viewTime {
    color: #1F2833;
}



.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    margin-top : 400px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 .close:hover, .close:focus
 {
     color: #000;
     text-decoration: none;
     cursor: pointer;
  }


